<form method="post" action="{{ path('app_author_delete', {'id': author.id}) }}" onsubmit="return confirm('Удалить этого автора?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
	<button type="submit" class="btn-delete">Удалить</button>
</form>
